<%- include("partials/header")%>


<%- include("partials/nav")%>
<link rel="stylesheet" href="/stylesheets/nav.css">

<h1 class="m-3">Update page</h1>

<form action="/update/<%= index%>" method="POST">

    <input type="text" name="id"  placeholder="Id" value="<%=todo.id%>" class="form-control w-25 m-3" >

    <input type="text" name="title" placeholder="Title"  value="<%=todo.title%>" class="form-control w-25 m-3">

    <!-- <input type="text" name="description" value="<%=todo.description%>" placeholder="Description" class="form-control w-25 m-3"> -->

    <textarea name="description" placeholder="Description" class="form-control w-25 m-3" id="" cols="30" rows="10"><%=todo.description%></textarea>
    
    <input type="date" name="date" value="<%=todo.date%>" placeholder="dd/mm/yyyy"  class="form-control w-25 m-3">

    <button class="btn btn-success px-5 ms-3">Submit</button>

</form>
<%- include("partials/footer")%>
